.footer-archive {

    &-contact {

        &__title {
            font-size: $font-size-large;
        }

        &-info__content {
            color: $main-text-color;
    
            &:hover {
                color: $main-text-color;
            }
    
        }
    }

    &-item__title {
        font-size: $font-size-large;
    }
}